<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p> Please visit <a href="http://jason.alway.world/">jason.alway.world</a> for more information.
      </p>
<%- include("partials/footer"); -%>
