<%- include("partials/header"); -%>
<h1>About</h1>
<p> <%= aboutContent %> </p>
<p>This is an expanded version of the basic blog site from the <a href="https://www.appbrewery.co/">App Brewery</a>'s Udemy course 'The Complete 2020 Web Development Bootcamp'
  </p>

<p>Packages Used</p>
<ul>
  <li>express</li>
  <li>body-parser</li>
  <li>ejs</li>
  <li>mongoose</li>
  <li>lodash</li>
</ul>

<%- include("partials/footer"); -%>
