<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p>I'm open to remote work or, if the job is right, full time employment.</p>
    <p>I have a passion for learning new things every day.</p>
    <p>Feel free to contact me . . . <a href="mailto:jtalway@gmail.com">jtalway@gmail.com</a> . . .</p>
<%- include("partials/footer"); -%>
